[user]
    name = Kumar McMillan
    email = kumar.mcmillan@gmail.com
[color]
    diff = auto
    status  = auto
    branch = auto
[alias]
    ci = commit
    co = checkout
    st = status
    fix = "commit -a --amend -C HEAD"
    ri = rebase --interactive --autosquash HEAD~5
[core]
    excludesfile = /Users/kumar/.gitignore
[push]
    default = current
[help]
    autocorrect = 1
